﻿@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

@*<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>*@

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/styles.min.css">
  </head>
  <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54" style="background: url('/img/background/fundo perfil.png');
            background-size: cover; 
            padding-top: 10px; 
            padding-bottom: 55px;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav" style="padding-bottom: 10px;padding-top: 21px;">
      <div class="container">
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <img src="~/img/background/icon.png" style="width: 135px;">
          <ul class="navbar-nav ms-auto text-uppercase">
            <li class="nav-item" style="width: 52.4px;margin-left: 0px;padding-left: 7px;">
              <i class="fa fa-envelope d-inline-flex" style="margin-right: 15px;font-size: 34.4px;margin-top: 0px;padding-top: 19px;padding-right: 0px;"></i>
            </li>
            <li class="nav-item">
              <img style="margin-right: 10px;width: 75px;" src="~/img/background/profile-2092113_1280.png">
            </li>
            @*<li class="nav-item">
              <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="font-size: 18.4px;">Logout</a>
            </li>*@
            <partial name="_LoginPartial" />
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead" style="background-image:url('~/img/header-bg.jpg');">
      <div class="container"></div>
    </header>
    <section  id="portfolio" style="padding-top: 15px;padding-bottom: 25px; background: rgba(255, 255, 255, 0.75)">
      <div>
           <form class="d-inline-flex" style="width: 950px; margin-top: 25px">
      <section style="width: 350px; margin-bottom: 25px; padding-bottom: 25px">
        <label
          class="form-label"
          style="margin-top: 20px; margin-left: 20px; margin-bottom: 5px"
          >FirstName</label
        ><input
          class="form-control"
          type="text"
          style="
            width: 150px;
            margin-top: 0px;
            margin-left: 20px;
            padding: 5px 12px;
          "
        /><label
          class="form-label"
          style="margin-top: 10px; margin-left: 20px; margin-bottom: 5px"
          >LastName</label
        ><input
          class="form-control"
          type="text"
          style="width: 150px; margin-top: 0px; margin-left: 20px"
        /><label
          class="form-label"
          style="margin-top: 10px; margin-left: 20px; margin-bottom: 5px"
          >Phone Number</label
        ><input
          class="form-control"
          type="text"
          style="width: 150px; margin-top: 0px; margin-left: 20px"
        /><label
          class="form-label"
          style="margin-top: 10px; margin-left: 20px; margin-bottom: 5px"
          >Birth Date</label
        ><input
          class="form-control"
          type="date"
          style="width: 150px; margin-top: 0px; margin-left: 20px"
        />
      </section>
      <section style="width: 250px; margin-bottom: 25px; padding-bottom: 25px">
        <label
          class="form-label"
          style="margin-top: 20px; margin-left: 20px; margin-bottom: 5px"
          >Email</label
        ><input
          class="form-control"
          type="text"
          style="
            width: 150px;
            margin-top: 0px;
            margin-left: 20px;
            padding: 5px 12px;
          "
        /><label
          class="form-label"
          style="margin-top: 10px; margin-left: 20px; margin-bottom: 5px"
          >Employee Number</label
        ><input
          class="form-control"
          type="text"
          style="width: 150px; margin-top: 0px; margin-left: 20px"
        /><label
          class="form-label"
          style="margin-top: 10px; margin-left: 20px; margin-bottom: 5px"
          >Gender</label
        >
        <div class="form-check" style="margin-left: 20px">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Male
          </label>
        </div>
        <div class="form-check" style="margin-left: 20px">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Female
          </label>
        </div>
        <select
          class="form-select"
          style="margin-left: 25px; margin-top: 25px; width: 200px"
        >
          <optgroup label="Select your role">
            <option value="12" selected="">Project Manager</option>
            <option value="13">Architecture</option>
            <option value="14">Construction engineer</option>
            <option value="15">Electrical engineer</option>
          </optgroup>
        </select>
      </section>
      <section
        class="d-inline-flex"
        style="width: 250px; margin-bottom: 25px; padding-bottom: 25px"
      >
        <img
          class="d-lg-flex align-items-lg-center"
          style="
            margin-right: 10px;
            width: 125px;
            margin-left: 65px;
            margin-top: 25px;
            margin-bottom: 80px;
          "
          src="~/img/background/profile-2092113_1280.png"
        /><i
          class="fa fa-pencil-square"
          style="font-size: 30px; color: var(--bs-yellow); margin-top: 25px"
        ></i>
      </section>
    </form>
      </div>
    </section>
    <div class="mb-3" style="display:flex; margin-top:10px; justify-items: center;">
        <button class="btn btn-primary d-block w-100" type="submit" style="color: #000000;font-weight: bold; margin-bottom:35px">Confirm</button>
        <button class="btn btn-primary d-block w-100" type="submit" style="color: #000000;font-weight: bold; margin-left:15px ;margin-bottom:35px">Cancel</button>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script.min.js"></script>
  </body>
</html>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
