﻿@page
@model LoginModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Log in";
}

@*<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
           
        </section>
    </div>
</div>*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/styles.min.css">
</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54" style="background: url('/img/background/ImagemPaginaRegisto.png');
            background-size: cover; 
            padding-top: 10px; 
            padding-bottom: 55px;">
    <header class="masthead">
        <div class="container">
            <div class="intro-text" style="margin-top: calc(-4.4% - 100px)">
                <img src="~/img/background/icon.png" style="width: 191px;
                transform-origin: top;
                opacity: 1;
                padding-top: 28px;
                padding-bottom: 32px;"
                >
                <div class="intro-lead-in"></div>
                <form id="account" method="post" class="text-center d-inline-block" style="width: 450px;margin-left: 0px;transform: scale(1);transform-origin: center;">
                    <h2 class="text-center text-dark d-inline-flex">
                        <strong>Login</strong>
                    </h2>
                    <div class="mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3"></div>
                    <div class="mb-3"></div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-block w-100" type="submit" style="color: #000000;font-weight: bold;">Login</button>
                    </div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label" style="color: black; font-weight: bold">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Manter login?
                        </label>
                    </div>
                    <a class="link-dark already" style= "display:block;" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Criar uma nova conta</a>
                    <a class="link-dark already" style= "display:block;" asp-page="./ResendEmailConfirmation" >Novo email de confirmação</a>
                    <a class="link-dark already" style= "display:block;" asp-page="./ForgotPassword" >Esqueceu-se da palavra-passe?</a>
                </form>
                <div class="intro-heading text-uppercase"></div>
            </div>
        </div>
    </header>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script.min.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
